# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "cargo" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    cooldown:
      default-days: 3
      semver-major-days: 14
      semver-minor-days: 7
      semver-patch-days: 3
    groups:
      # Updates with no breaking changes can be grouped. Updates with breaking changes or security-related
      # updates should not be grouped, as they require more time to review (and maybe even some patches).
      no-breaking-changes:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
        patterns:
          - "*"

