[workspace]
resolver = "3"
members = [
    "server"
]

[workspace.package]
name = "crabdrive"
description = "A cloud storage platform"
repository = "https://github.com/mtfwvi/crabdrive"
version = "0.1.0"
edition = "2024"
