[package]
name = "crabdrive-server"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
axum = "0.8.7"
bytes = "1.11.0"
chrono = "0.4.42"
tokio = { version = "1.48.0", features = ["full"] }
tracing = "0.1.44"

crabdrive-common = { path = "../common" }
tracing-subscriber = { version = "0.3.22", features = ["env-filter", "fmt"] }
dotenvy = "0.15.7"
nanoid = "0.4.0"
tracing-appender = "0.2.4"
