[package]
name = "crabdrive-server"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.7"
tokio = { version = "1.48.0", features = ["full"] }
crabdrive-common = { path = "../common" }
diesel = { version = "2.2.0", features = ["sqlite", "r2d2", "chrono"] }
diesel_migrations = "2.2.0"
dotenvy = "0.15"
serde = { version = "1.0", features = ["derive"] }
