[package]
name = "crabdrive-server"
version = "0.1.0"
edition = "2024"

[dependencies]
uuid = { workspace = true, features = ["serde"] }
anyhow = { workspace = true }
axum = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true, features = ["cargo"] }
confique = { workspace = true, features = ["toml"] }
dotenvy = { workspace = true }
nanoid = { workspace = true }
serde = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["full"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt", "json"] }
tracing-appender = { workspace = true }

crabdrive-common = { workspace = true }
formatx = { workspace = true }
