# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json

name: CI (PR)

on:
    workflow_dispatch:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
        paths-ignore:
            - "docs/**"
            - ".github/**"
            - "README.md"
            - "CONTRIBUTING.md"
            - ".devcontainer/**"
            - "Dockerfile"

env:
    CARGO_TERM_COLOR: always

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    check-formatting:
        name: Check code formatting
        runs-on: ubuntu-latest
        if: github.event_name != 'pull_request' || !github.event.pull_request.draft
        permissions:
            contents: read
            pull-requests: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Rust
              uses: ./.github/actions/setup-rust
              with:
                  toolchain: nightly
                  shared-cache: nightly

            - name: rs-fmt-check
              uses: clechasseur/rs-fmt-check@v3.0.1

            - name: leptosfmt-check
              uses: LesnyRumcajs/leptosfmt-action@v0.1.0

    check-build:
        name: Check build
        runs-on: ubuntu-latest
        if: github.event_name != 'pull_request' || !github.event.pull_request.draft
        permissions:
            contents: read
            pull-requests: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Collect commit information
              id: vars
              # Replace / with - in branch names, due to Github limitations
              run: |
                  echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
                  BRANCH="${GITHUB_REF_NAME//\//-}"
                  echo "branch_name=$BRANCH" >> $GITHUB_OUTPUT

            - name: Setup Rust
              uses: ./.github/actions/setup-rust

            - name: Check for linter errors / warnings
              run: cargo clippy --all-targets --all-features --timings

            - name: Upload build times
              uses: actions/upload-artifact@v6
              with:
                  name: "Build times of ${{ steps.vars.outputs.branch_name }} at ${{ steps.vars.outputs.sha_short }}"
                  path: target/cargo-timings/

    test-code:
        name: Run tests
        runs-on: ubuntu-latest
        if: github.event_name != 'pull_request' || !github.event.pull_request.draft
        permissions:
            contents: read
            pull-requests: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Collect commit information
              id: vars
              run: |
                  echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
                  BRANCH="${GITHUB_REF_NAME//\//-}"
                  echo "branch_name=$BRANCH" >> $GITHUB_OUTPUT

            - name: Setup Rust
              uses: ./.github/actions/setup-rust
              with:
                  components: llvm-tools-preview
                  toolchain: nightly-2026-02-20
                  shared-cache: nightly-2026-02-20

            - name: Install cargo-llvm-cov
              uses: taiki-e/install-action@v2
              with:
                  tool: cargo-llvm-cov,cargo-nextest

            - name: Run tests
              shell: bash
              # llvm-cov automatically runs tests
              run: |
                  cargo llvm-cov nextest --all-features --no-fail-fast --workspace  \
                  --lcov --output-path lcov-native.info

            # Upload lcov informations as artifact, used by later job
            - name: Upload Native Coverage Artifact
              uses: actions/upload-artifact@v6
              with:
                  name: lcov-native
                  path: lcov-native.info

    check-client-build:
        name: Check client build
        runs-on: ubuntu-latest
        if: github.event_name != 'pull_request' || !github.event.pull_request.draft
        permissions:
            contents: read
            pull-requests: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Collect commit information
              id: vars
              run: |
                  echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
                  BRANCH="${GITHUB_REF_NAME//\//-}"
                  echo "branch_name=$BRANCH" >> $GITHUB_OUTPUT

            - name: Detect changes
              uses: dorny/paths-filter@v3
              id: filter
              with:
                  filters: |
                      client:
                      - 'client/**'
                      - 'common/**'
                      - 'Cargo.toml'
                      - 'Cargo.lock'
                      - 'Trunk.toml'

            - name: Setup Rust
              uses: ./.github/actions/setup-rust
              if: steps.filter.outputs.client == 'true'
              with:
                  target: wasm32-unknown-unknown

            - name: Install Trunk
              uses: jetli/trunk-action@v0.5.0
              if: steps.filter.outputs.client == 'true'
              with:
                  version: "latest"

            - name: Build WASM Target
              if: steps.filter.outputs.client == 'true'
              run: cargo build --target wasm32-unknown-unknown --release --timings

            - name: Build with Trunk
              if: steps.filter.outputs.client == 'true'
              run: |
                  cd ./client
                  trunk build --release --verbose

            - name: Upload build times as artifact
              if: steps.filter.outputs.client == 'true'
              uses: actions/upload-artifact@v6
              with:
                  name: "WASM Build times of ${{ steps.vars.outputs.branch_name }} at ${{ steps.vars.outputs.sha_short }}"
                  path: target/cargo-timings/
    test-wasm-code:
        name: Run WASM tests
        runs-on: ubuntu-latest
        if: github.event_name != 'pull_request' || !github.event.pull_request.draft
        permissions:
            contents: read
            pull-requests: read
        env:
            CARGO_TARGET_WASM32_UNKNOWN_UNKNOWN_RUNNER: wasm-bindgen-test-runner
            CARGO_TARGET_WASM32_UNKNOWN_UNKNOWN_RUSTFLAGS: >-
                -Cinstrument-coverage
                -Zno-profiler-runtime
                -Clink-args=--no-gc-sections
                --cfg=wasm_bindgen_unstable_test_coverage
                --emit=llvm-ir
            CFLAGS_wasm32_unknown_unknown: "-matomics -mbulk-memory"
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Rust
              uses: ./.github/actions/setup-rust
              with:
                  toolchain: nightly-2026-02-20
                  target: wasm32-unknown-unknown
                  components: llvm-tools-preview
                  shared-cache: nightly-2026-02-20

            - name: Install cargo-llvm-cov
              uses: taiki-e/install-action@cargo-llvm-cov

            - name: Install wasm-bindgen-cli+
              uses: jetli/wasm-bindgen-action@v0.2.0
              with:
                  version: "latest"

            - name: Test on Chrome
              env:
                  CHROMEDRIVER: chromedriver
              run: |
                  unset RUSTFLAGS
                  cargo llvm-cov show-env --sh
                  source <(cargo llvm-cov show-env --sh)
                  cargo llvm-cov clean
                  cargo test --target wasm32-unknown-unknown -p crabdrive-client

            - name: Test on Firefox
              env:
                  GECKODRIVER: geckodriver
              run: |
                  unset RUSTFLAGS
                  source <(cargo llvm-cov show-env --sh)
                  cargo test --target wasm32-unknown-unknown -p crabdrive-client

            - name: Generate code coverage
              run: |
                  unset RUSTFLAGS
                  source <(cargo llvm-cov show-env --sh)
                  find . -type f -name "*.profraw"
                  cargo llvm-cov report --target wasm32-unknown-unknown --lcov  --output-path lcov-wasm.info

            - name: Upload WASM Coverage Artifact
              uses: actions/upload-artifact@v6
              with:
                  name: lcov-wasm
                  path: lcov-wasm.info

    check-code-cov:
        name: Summarize code coverage
        needs:
            - test-code
            - test-wasm-code
        runs-on: ubuntu-latest
        if: github.event_name != 'pull_request' || !github.event.pull_request.draft
        permissions:
            contents: read
            pull-requests: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # https://stackoverflow.com/questions/59810838/how-to-get-the-short-sha-for-the-github-workflow
            - name: Collect commit information
              id: vars
              run: |
                  echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
                  BRANCH="${GITHUB_REF_NAME//\//-}"
                  echo "branch_name=$BRANCH" >> $GITHUB_OUTPUT
                  # If dispatched manually, no event number (PR Number). Changes will be deployed to /man/...
                  PR_VAL="${{ github.event.number }}"
                  if [ -z "$PR_VAL" ]; then
                    PR_ID="man"
                  else
                    PR_ID="$PR_VAL"
                  fi
                  echo "pr_id=$PR_ID" >> $GITHUB_OUTPUT
                  DEST_PATH="/data/test-coverage/${PR_ID}/$(git rev-parse --short HEAD)"
                  echo "dest_path=$DEST_PATH" >> $GITHUB_OUTPUT

            - name: Install lcov
              run: sudo apt-get install --no-install-recommends -y lcov

            - name: Setup Rust
              uses: ./.github/actions/setup-rust
              with:
                  components: llvm-tools-preview

            - name: Setup SSH Credentials
              uses: shimataro/ssh-key-action@v2
              with:
                  key: ${{ secrets.SSH_PRIVATE_KEY_COVERAGE_DEPLOY }}
                  known_hosts: ${{ secrets.SSH_KNOWNHOSTS_COVERAGE_DEPLOY }}

            - name: Install cargo-llvm-cov
              uses: taiki-e/install-action@v2
              with:
                  tool: cargo-llvm-cov,grcov

            - name: Download Native Coverage
              uses: actions/download-artifact@v7
              with:
                  name: lcov-native

            - name: Download WASM Coverage
              uses: actions/download-artifact@v7
              with:
                  name: lcov-wasm

            # Merge the code coverages of the native and WASM tests
            - name: Merge code coverages
              run: |
                  lcov -a lcov-native.info -a lcov-wasm.info --output-file lcov.info

            - name: Generate HTML report
              run: |
                  mkdir -p coverage-html
                  grcov lcov.info \
                    --source-dir . \
                     \
                    --ignore-not-existing \
                    --ignore "/*" \
                    --ignore "../*" \
                    -t html \
                    -o coverage-html

            - name: Upload HTML coverage report
              id: upload-html
              uses: actions/upload-artifact@v6
              with:
                  name: "Test Coverage of ${{ steps.vars.outputs.branch_name }} at ${{ steps.vars.outputs.sha_short }}"
                  path: coverage-html/

            - name: Deploy Coverage report
              run: |
                  ssh ${{ secrets.SSH_USERHOST_COVERAGE_DEPLOY }} "mkdir -p ${{ steps.vars.outputs.dest_path }}"
                  scp -r ./coverage-html/html/* ${{ secrets.SSH_USERHOST_COVERAGE_DEPLOY }}:${{ steps.vars.outputs.dest_path }}/

            - name: Report code coverage to PR
              uses: zgosalvez/github-actions-report-lcov@v4
              with:
                  coverage-files: lcov.info
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  update-comment: true
                  additional-message: >
                      [View report for `${{ steps.vars.outputs.sha_short }}`](${{ secrets.SSH_HOST_COVERAGE_DEPLOY }}/${{ steps.vars.outputs.pr_id }}/${{ steps.vars.outputs.sha_short }})
                      or [Download Report for `${{ steps.vars.outputs.sha_short }}`](${{ steps.upload-html.outputs.artifact-url }}) \n
                      _Authenticate with `${{ secrets.DEPLOY_USER }}` and password `${{ secrets.DEPLOY_PASS }}`_
                  minimum-coverage: 0 # TODO: Bump
